<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ranking</title>
    <link rel="stylesheet" href="stylesheet_zweitesTemplalte.css">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
</head>
<body>
<div class="background"></div>
<header class="header">
    <img src="images/Logo.png" alt="Logo" class="logo">
    <nav class="navbar">
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
    </nav>
</header>

<div class="rankVorschau">
    <h1>sadipscing eli</h1>
    <div class="grid-table">
        <div class="table-header">ipsum</div>
        <div class="table-header">ipsum</div>
        <div class="table-header">ipsum</div>
        <div class="table-header">ipsum</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>
        <div>oreem</div>

    </div>
</div>
</body>

<footer class="footer-section">
    <div class="footer-box">
        <div class="footer-splitWidth">
            <div class="footer-textBox">
                <h3>Lorem i</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut la</p>
            </div>
            <div class="footer-contact">
                <h3>Lorem ip</h3>
                <p>Lorem ipsum dolor sit ameh</p>
                <p>Lorem ipsum dolor sit ame</p>
                <p>Lorem ipsum dolor sit ame</p>
            </div>
            <div class="footer-socialMedia">
                <h3>Lorem ipsum</h3>
                <p>
                    <a href="#" target="_blank">setetur</a> |
                    <a href="#" target="_blank">setetur</a> |
                    <a href="#" target="_blank">setetur</a>
                </p>
            </div>
        </div>
        <div class="footer-rights">
            <p>&copy; ipsum dolor sit amet, consetetur sadipsci</p>
        </div>
    </div>
</footer>
</html>