* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.form-container {
    margin-top: 20px;
}

.formElements {
    margin-bottom: 15px;
}

.formElements label {
    display: block;
    margin-bottom: 5px;
}

.formElements input[type="text"],
.formElements input[type="email"],
.formElements input[type="password"],
.formElements select {
    width: calc(100% - 10px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formElements input[type="radio"] {
    margin-right: 10px;
}

.formElements input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #555;
}

.button-home {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}